
@{
    ViewData["Title"] = "agregarEditarCarro";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Administración de vehículos</h2>
<hr/>

<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Año</th>
                <th scope="col">Carrocería</th>
                <th scope="col">Color</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Ford</td>
                <td>Mustang</td>
                <td>1967</td>
                <td>Sedán</td>
                <td>Negro</td>
                <td>$ 62 000</td>
                <td>Disponible</td>
                <td><a type="button" class="btn btn-primary">Editar</a> <a type="button" class="btn btn-danger">Eliminar</a></td>
                          
            </tr>
        </tbody>
    </table>
</div>

